*, *:before, *:after {
    box-sizing: border-box;;
}

html, body {
    font-family: 'Open Sans Hebrew', sans-serif;
    padding: 0;
    margin: 0;
    direction: rtl;
    background: #fff;
}

input[type="tel"], input[type="email"] {
  border-radius: 8px;
  background-color: #FFFFFF;
  font-family: 'Open Sans Hebrew', sans-serif;
  border: 0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  padding: 12px 20px;

  &::placeholder {
    color: #666666;
  }
}

button {
    padding: 12px 65px;
    height: 64px;
    border-radius: 50px;
    border: 0;
    font-family: 'Open Sans Hebrew', sans-serif;
    color: #16254F;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 33px;
    background-color: #00E7FF;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 45px;
    margin: 0;
}
h2 {
    font-size: 28.8px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 40.8px;
    margin: 0;
}

.header {
    height: 600px;
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 115px;

    .slogen {
        flex: 1;
        color: #666666;

        h1, h3 {
            max-width: 700px;
            font-size: 46px;
            letter-spacing: 0;
            line-height: 55px;
        }

        h3 {
            max-width: 420px;
            font-size: 25px;
            line-height: 34px;
        }
    
        .logo {
            color: #1B89D6;
            font-size: 38px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 52px;
            text-align: right;
            position: absolute;
            right: 115px;
            top: 20px;
            display: flex;
            flex-direction: column;
            line-height: 0.9;
    
            span{
                font-size: 19.27px;
            }
        }
    }

    .form {
        height: 600px;
        width: 544px;
        background: linear-gradient(222.82deg, #1d8bd8 0%, #032f96 100%);
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin-bottom: 54px;
        }

        input[type="tel"], input[type="email"] {
            width: 352px;
            margin-bottom: 32px;
        }

        button {
            margin-top: 70px;
        }

        label {
            display: flex;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 24px;
            width: 64.5%;
            align-items: center;
            input {
                margin-left: 20px;
            }
        }
    }
}

.contact {
    display: none;
}

section {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.odd {
        background-color: #F5F5F5;
    }

    > div {
        max-width: 1139px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &.stats {

        h1 {
            color: #1B89D6;
            margin: 56px auto;
        }

        & > div {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                margin: 12px 0;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 1;
                color: #666;
                font-size: 70px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 54px;
            }
        }
    }

    &.why {
        background-color: rgba(255, 184, 0, 0.07);
        margin: 100px auto;

        h1 {
            color: #1B89D6;
            margin: 26px auto;
        }

        & > div {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            color: #666;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                height: 260px;
                width: 273px;
                left: -70px;
                top: -50px;
                background-image: url(./images/Oval.svg);
                background-size: cover;
            }

            &:last-child:before {
                left: auto;
                top: auto;
                right: -70px;
                bottom: -50px;
            }

            img {
                position: relative;
                z-index: 1;
            }

            div {
                padding: 30px;
            }
        }
        
    }
}